body{
    /* font-family: 'Lora', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 10px;
    background: rgb(255 255 255) 100%;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;

    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
   
}

.header_scrolled{
    background: #428BCA;
}
.header__menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.header-menu{
    display: flex;
    padding: 0 10%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header__logo{
    width: 25%;
}
.logo{

}
.logo p{
    margin: 0;
    line-height: 1.3;
    text-transform: uppercase;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: -1px;
    font-weight: 600; 
}
.logo a{
    width: 100%;
    text-transform: uppercase;
  background: linear-gradient(180deg, #0b558e 40%, #0D61BC 50%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}
.surname{
    padding-left: 50px;
}
.surname, .name{
    text-transform: uppercase;
  background: linear-gradient(180deg, #0b558e 40%, #0D61BC 50%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}
.button__text{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 140%;
    color: #394248;
    text-decoration: none;
}
.menu__item{
    list-style: none;
}
.menu__item a{
    font-weight: 600;  
}
.menu{
    width: 100%;
    gap: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-burger {
    /* display: inline-block; */
    cursor: pointer;
    display: none;
    z-index: 1001;
  }
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change> .bar2 {opacity: 0;}
  
  .change >.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  .menu-burger{
    margin-top: -5%;
    background: linear-gradient(35deg, #B2D9FB 60%, rgba(235, 238, 246, 1) 100%);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 600;
    text-align: center;
    display: none;
  }

  .menu-burger-item{
    position: absolute;
    height: 100%;
    width: 100%;
    gap: 3%;
    display: flex;
    flex-direction: column;
    top: 18%;
    z-index: 1001;
  }
  .menu-burger-item a{
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
  }

.main{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    margin-bottom: 4%;
}
.content-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.content-left__text p{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 3%;
    color: #0b558e;
    font-weight: 500;
}
.header-name{
    line-height: 1.3;
    font-weight: 800;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 10%;
    z-index: 1;
    text-transform: uppercase;
  background: linear-gradient(180deg, #0b558e 40%, #0D61BC 50%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}
.contact-social-main{
    margin-top: 10%;
}
.contacts__icon-main{
    gap: 10%;
    display: flex;
}
.btn {
    color: white;
    /* color: var(--color-white); */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    border: 1px solid #394248;
    border-radius: 5%;
    background-color: #0b558e;
    letter-spacing: 0.2rem;
    font-weight: 600; 
    padding: 18px 20px;
}

.btn:hover{
    scale: 1.01;
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.9);

    /* background-color: #7bbcf5;
    color: white; */
}
.content-right {
    position: relative;
    margin-right: -7%;
    margin-top: 3%;
    width: 45%;
    background: linear-gradient(35deg, #B2D9FB 60%, rgba(235, 238, 246, 1) 100%)
}
.content-right__photo{
    width: 90%;
    top: 10%;
    position: relative;
    right: 15%;
}
.content-right__photo img{
    width: 100%;
    position: relative;
}


.about{
    padding-top: 11%;
display: flex;
justify-content: space-between;
margin-bottom: 7%
}
.about-content-left{
    width: 48%;
    transition: 2s;
}
.about-content-rigt{
    position: relative;
    width: 48%; 
}
.about-content-left-photo-backg{
    border-radius: 10px;
    background: #B2D9FB;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 4;
}
.about-content-rigt P{
    position: relative;
    font-size: 1.5rem;
    text-align: justify;
    z-index: 3;
   }
.about-content-left-photo{
    width: 80%;
    position: relative;
    transition: 2s;
}
.about-content-left-photo img{
    border-radius: 10px;
    position: relative;
    width: 100%;
    z-index: 5;
}
.flag{
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 10%;
}
.flag-img {
    width: 25%;
}
.flag-img img{
    width: 90%;
}
.section-title{
    color: #0b558e;
    font-size: 2.2rem;
    font-weight: 800;
    display: block;
    margin-bottom: 4%;
}
.requests{
    padding-top: 6%;
    padding-bottom: 2%;
    background: linear-gradient(140deg, #B2D9FB 0%, rgba(235, 238, 246, 0.5) 100%);
    margin: 0  auto;
    margin-bottom: 7%;
}
.list-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-right{
    display: flex;
    justify-content: space-between;
}
.list-left-content,
.list-right-content{
    position: relative;
    width: 55%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    /* list-style: none; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    padding: 0;
    margin-bottom: 4%;
}
.list-right-content{   
 display: flex;
 flex-direction: column;
}
.marker{
    width: 20%;
    font-size: 5rem;
    font-weight: 800;
    color:  #0b558e;
   text-align: center;
}
.list__cases{
    display: flex;
    align-items: center;
    text-align: justify;
    /* margin: 25px 25px 25px 0; */
    /* padding-left: 25px; */

    /* background: url("img/free-icon-arrow.png") no-repeat 0 0; */
}
.list__cases p{
    width: 70%;
}
.list-photo{
    width: 45%;
    text-align: center;
}
.list-photo img{
    width: 60%;
    border-radius: 10px;
}
.list-photo-right{
    width: 45%;
    text-align: center;
}
.list-photo-right{
   position: relative;
    width: 45%;
}
.list-photo-1{
    width: 35%;
right: 10%;
top: 5%;
    position: absolute;
    border-radius: 50%;
    background-color: white;
}
.list-photo-line{
 position: absolute;
    width: 35%;
    border-radius: 50% !important;
    left: 10%;
    bottom: 15%;
}
.cases:nth-child(9),
.cases:nth-child(10){
    margin-bottom: 0;
}

.title-center{
    text-align: center;
}
.confines{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.confines-img{
    width: 40%;
    text-align: center;
}
.confines-img img{
    width: 30%;
}
.list__confines-item{
    width: 100%;
    margin: 0 25px 25px 0;
    padding-left: 50px;
    background: url("img/free-icon-minus.png") no-repeat 0 2px;
}
.list-confines{
    margin: 0 auto;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    padding: 0;
}
.quote{
    margin-bottom: 7%;
}
.quote p{
    font-size: 2rem;
    font-style: italic;
    line-height: 160%;
    text-align: center;
}
/* .methods{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    } */
.method1,
.method2 ,
.method3 ,
.method4 ,
.method5{
    /* width: 25%; */
    border-radius: 10px;
    margin: 1%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #2d87c37e;
    gap: 5%;
}
.methods p{
    font-size: 1.5rem;
    padding: 5%;
}
.section-methods{
    margin-bottom: 7%;
}

.methods {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        }
        
        .method1 { grid-area: 1 / 5 / 3 / 7; }
        .method2{ grid-area: 1 / 1 / 3 / 3; }
        .method3{ grid-area: 3 / 1 / 5 / 3; }
        .method4 { grid-area: 3 / 5 / 5 / 7; }
        .method5 { grid-area: 1 / 3 / 5 / 5; }
    
.list__results{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 25px 25px 0;
    padding-left: 50px;
    background: url("img/free-icon-done-2441253\ \(2\).png") no-repeat 0 0px;
}
.results{
    position: relative;
}

.result-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-result {
    padding-top: 10%;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    padding: 0;
    width: 30%;
}
.result-content-img{
    align-items: center;
    display: flex;
    border-radius: 10px;
   background: linear-gradient(140deg, #B2D9FB 0%, rgba(235, 238, 246, 0.5) 100%);
    width: 35%;
    border-radius: 50%;
    text-align: center;
}
.result-content-img img{
    width: 100%;
}
.result p{
    text-align: center;
    color: #0b558e;
    font-size: 1.9rem;
    font-weight: 800;
    display: block;
    margin-bottom: 4%;
}
.m0{
    margin: 0;
}
.education{
    padding-top: 9%;
    /* margin-bottom: 3%; */
}
.education-content{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.education-content-left{
    width: 40%;
    position: relative;

}

.education-content-left-photo-backg {
    border-radius: 10px;
    background: #B2D9FB;
    width: 90%;
    height: 100%;
    position: absolute;
    bottom: 7%;
    right: 19%;
    z-index: 8;
}
.education-content-left img{
    position: relative;
    border-radius: 10px;
    width: 90%;
   z-index: 9;
}
.education-content-right{
    width: 55%;
    box-sizing: border-box;
}
.education-content-right__text{
    box-sizing: border-box;
    background: linear-gradient(70deg, #B2D9FB 0%, rgba(235, 238, 246, 0.5) 100%);
    padding: 1% 3%;
   width: 100%;
    border-radius: 10px;
    position: relative;
    margin-top: 7%;
}
.education-title{
    font-size: 1.4rem;
    margin: 2% 0;
}
.education-item p{
    position: relative;
    font-size: 1.3rem;
    z-index: 7;
    margin: 0;
    margin-bottom: 2%;
}
.education-content-righ__img{
    position: absolute;
    width: 20%;
    right: 0;
   bottom: 0;
   z-index: 6;
}
.education-content-righ__img img{
    width: 100%;
    opacity: 0.5;
}



  .price{
    position: relative;
    padding-top: 7%;
    margin-bottom: 7%;
  }
  
  .cards{
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin: 3% 0;
    }
    .card-price{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      width: 30%;
      padding: 3% 2%;
      background-color: #FFF;
      border-radius: 5%;
      border: 2px solid #0b558e;
      background: linear-gradient(70deg, #B2D9FB 0%, rgba(235, 238, 246, 0.5) 100%);
/*    
      -webkit-box-shadow: 10px 10px 28px 0px rgba(11,85,142,1);
-moz-box-shadow: 10px 10px 28px 0px rgba(11,85,142,1);
box-shadow: 8px 8px 15px 0px rgba(11,85,142,1); */
    }
  
  .card-price-title{
    height: 15%;
    font-weight: 800;
    padding-bottom: 5%;
    text-align: center;
    color: #0b558e;
    font-size: 1.5rem;
    font-weight: 800;
   display: flex;
   align-items: center;
   text-align: center;
    margin: 0 auto;
  }
  .card-price-descr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    padding: 5% 0;
    margin-bottom: 5%;
    border-bottom: 1px solid #0b558e;
    border-top: 1px solid #0b558e;
  }
  .time, .price-sum{
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10%;
  }
.price-descr-text{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10%;
}
  .card-price-btn{
    justify-content: center;
    height: 15%;
    margin-top: 5%;
    display: flex;
  }
  
  .card-price-sum img{
    width: 40px;
    height: 40px;
    margin-right: 5%;
  }
  .collapsible {
    background-image: linear-gradient(355deg,rgba(84,211,239,0),#0084ff);
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 0 8px 8px 8px;
  }
  .content p{
    font-size: 1.3rem;
  }
  .title-text{
    text-align: center;
    font-size: 2.5rem;
    /* font-weight: 800; */
    font-style: italic;
    margin: 0;
    margin-bottom: 1%;
  }
  .registration__title{
    margin-bottom: 5%;
    color: #0b558e;
    font-weight: 500;
    padding: 3% 0;
    background: linear-gradient(70deg, #B2D9FB 0%, rgba(235, 238, 246, 0.5) 100%);
  }



.registration{
    text-align: center;
    margin-bottom: 8%;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 410px;
    margin: 0 auto;
}
.input{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 5%;
}
.form input{
    width: 410px;
    height: 60px;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 2% 5%;
 
}

.form input ::placeholder{
    font-weight: 600;
    color: #0b558e;
}
.form label{
    font-size: 1.8rem;
    text-align: left;
}
.input span{
    color: red;
}
.section-contacts{
    background: linear-gradient(70deg, #B2D9FB 0%, rgba(235, 238, 246, 0.5) 100%);
}
.contacts{
    display: flex;
    justify-content: space-between;
}
.menu-footer{
    flex-direction: column;
    align-items: start;
    color: #394248;
    font-size: 1rem;
    margin: 0;
}
.menu-footer a{
    font-size: 1.3rem;
}
.iti__flag {
    background-image: url(../build/img/flags.png);
}
.contact-social img{
    width: 30px;
}
.contact-name{
    font-size: 1.3rem;
    color: #394248;
}
.contact-name p{
    margin: 0;
}
.contacts{
    padding: 3% 0;
}
.contact-name a{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: #394248;
    font-weight: 600;
    margin-bottom: 2%;
}

.contacts__icon{
    display: flex;
    gap: 5%;
}
.contacts__number{
    margin-bottom: 5%;
}
.contacts__email{
    margin-bottom: 10%;
}
.contacts__number img,
.contacts__email img{
    margin-right: 5%;

}
.contacts__number a,
.contacts__email a{
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #394248;
}



@media (min-width: 1350px)  and (max-width: 1450px) {
    .content-left__text p {
        font-size: 1.8rem;
    }
    .header-name {
        font-size: 2.9rem;
        letter-spacing: 2px;
    }
    .button__text {
        font-size: 1.3rem;
    }
    .content-right__photo {
        width: 90%;
        top: 20%;
    }
    .about {
        padding-top: 14%;
    }
    .about-content-rigt {
        margin-top: -5%;
    }
    .about-content-rigt P {
        font-size: 1.2rem;
    }
}

@media (min-width: 1260px)  and (max-width: 1351px) {
    .content-left__text p {
        font-size: 1.7rem;
    }
    .button__text {
        font-size: 1.2rem;
    }
    .header-name {
        font-size: 2.7rem;
        letter-spacing: 2px;
    }
    .content-right__photo {
        width: 90%;
        top: 20%;
    }
    .about,
    .education {
        padding-top: 14%;
    }
    .requests {
        padding-top: 10%;
    }
    .about-content-rigt {
        margin-top: -3%;
     }
    .about-content-rigt P {
        font-size: 1.2rem;
    }
    .marker {
        font-size: 4.2rem;
    }
    .list-left-content, .list-right-content {
        font-size: 1.3rem;
    }
    .list-photo img {
        width: 80%;
    }
    .education-content-left {
        margin-top: 5%;
    }
    .education-content-left-photo-backg {
        height: 100%;

    }
    .education-content-right {
        width: 58%;
        margin-top: -2%;
    }
    .title-text{
        font-size: 2.3rem;
    }
}
@media (min-width: 1100px)  and (max-width: 1261px) {
    .header__logo {
        width: 26%;
    }
    .content-left__text p {
        font-size: 1.6rem;
    }
    .button__text {
        font-size: 1rem;
    }
    .header-name {
        font-size: 2.6rem;
        letter-spacing: 1.5px;
    }
    .content-left{
        width: 55%;
    }
    .content-right__photo {
        top: 25%;
        width: 100%;
    }
    .content-right{
        width: 40%;
    }
    .about,
    .education {
        padding-top: 14%;
    }
    .about-content-rigt {
       margin-top: -4%;
    }
    .about-content-rigt P {
        font-size: 1.2rem;
    }
    .about-content-left {
        width: 52%;
}
.marker {
    font-size: 4rem;
}
.list-left-content, .list-right-content {
    font-size: 1.2rem;
}
.list-photo img {
    width: 80%;
}
.list-photo-1,
.list-photo-line {
    width: 40%;
}
.quote p {
    font-size: 1.8rem;
}
.methods p {
    font-size: 1.3rem;
    padding: 5%;
}
.list-result{
font-size: 1.1rem;
}
.requests {
    padding-top: 12%;
}
.education-title {
    font-size: 1.3rem;
}
.education-item p{
    font-size: 1.2rem;
}
.education-content-left {
    margin-top: 4%;
}
.education-content-left-photo-backg {
    height: 90%;

}
.education-content-right {
    width: 58%;
    margin-top: -2%;
}
.title-text{
    font-size: 2.3rem;
}
.card-price{
    width: 35%;
}
.price-descr-text{
    font-size: 1.2rem;
}
.card-price-btn > .btn{
    font-size: 1.3rem;
}
.contact-name {
    font-size: 1.1rem;
}
.contacts__number a, .contacts__email a {
    font-size: 1.1rem;
}
}

@media (min-width: 993px)  and (max-width: 1099px) {
    .menu{
        display: none;
      }
      .container-burger{
          display: block;
        }
        .menu-burger-item a {
            font-size: 1.5rem;
        }
        .header__menu{
            display: contents;
        }
        .header__logo {
            width: 30%;
        }
        .content-left__text p {
            font-size: 1.3rem;
        }
        .header-name {
            font-size: 2.1rem;
            letter-spacing: 1.5px;
        }
        .content-left{
            width: 50%;
        }
        .content-right__photo {
            top: 23%;
            width: 100%;
        }
        .btn {
            font-size: 1.3rem;
        }
        .content-right{
            width: 45%;
        }
        .section-title {
            font-size: 2.1rem;
            margin-bottom: 6%;
        }
        .about {
            padding-top: 15%;
        }
        .education {
            padding-top: 14%;
        }
        .about-content-rigt {
           margin-top: -4%;
        }
        .about-content-rigt P {
            font-size: 1.1rem;
        }
        .about-content-left {
            width: 52%;
    }
    .marker {
        font-size: 3.7rem;
    }
    .list-left-content, .list-right-content {
        font-size: 1.05rem;
    }
    .list-photo img {
        width: 80%;
    }
    .list-photo-1,
    .list-photo-line {
        width: 40%;
    }
    .list-confines {
        font-size: 1.1rem;
    }
    .list__confines-item {
        width: 100%;
        margin: 0 25px 15px 0;
    }
    .quote p {
        font-size: 1.6rem;
    }
    .methods p {
        font-size: 1.2rem;
        padding: 5%;
    }
    .list-result{
    font-size: 1rem;
    }
    .requests {
        padding-top: 12%;
    }
    .education-title {
        font-size: 1.2rem;
    }
    .education-item p{
        font-size: 1.1rem;
    }
    .education-content-left {
        margin-top: 4%;
    }
    .education-content-left-photo-backg {
        height: 90%;
    
    }
    .education-content-right {
        width: 58%;
        margin-top: -2%;
    }
    .title-text{
        font-size: 2rem;
    }
    .card-price{
        width: 35%;
    }
    .price-descr-text{
        font-size: 1.1rem;
    }
    .time, .price-sum {
        font-size: 1.4rem;
    }
    .content p {
        font-size: 1.1rem;
    }
    .card-price-btn > .btn{
        font-size: 1.2rem;
    }
    .form label {
        font-size: 1.5rem;
    }
    .form input {
        font-size: 1.3rem;
    }
    .iti--separate-dial-code .iti__selected-dial-code {
        font-size: 1rem;
    }
    .contact-name {
        font-size: 1.1rem;
    }
    .contacts__number a, .contacts__email a {
        font-size: 1.1rem;
    }      
}



@media (min-width: 769px)  and (max-width: 992px) {
    .container {
        width: 84%;
    }
    .header-menu {
        padding: 0 8%;
    }
    .menu{
        display: none;
      }
      .container-burger{
          display: block;
        }
        .menu-burger-item a {
            font-size: 1.5rem;
        }
        .header__menu{
            display: contents;
        }
        .header__logo {
            width: 35%;
        }
        .logo p{
            font-size: 1.8rem;
        }
        .content-left__text p {
            font-size: 1.2rem;
        }
        .header-name {
            font-size: 2rem;
            letter-spacing: 1.5px;
        }
        .content-left{
            width: 50%;
        }
        .content-right__photo {
            top: 25%;
            width: 100%;
        }
        .btn {
            font-size: 1.2rem;
        }
        .content-right{
            width: 50%;
        }
        .section-title {
            font-size: 1.6rem;
            margin-bottom: 6%;
            line-height: 140%;
        }
        .about {
            padding-top: 19%;
        }
        .education {
            padding-top: 17%;
        }
        .about-content-rigt {
            width: 45%;
           margin-top: -7%;
        }
        .about-content-rigt P {
            font-size: 1rem;
        }
        .about-content-left-photo {
            width: 90%;
        }
        .about-content-left {
            width: 50%;
    }
    .marker {
        font-size: 3.6rem;
    }
    .list-left-content, .list-right-content {
        font-size: 1rem;
        line-height: 130%;
    }
    .list-photo img {
        width: 100%;
    }
    .list-photo-1,
    .list-photo-line {
        width: 50%;
    }
    .list-confines {
        font-size: 1rem;
    }
    .list__confines-item {
        width: 100%;
        margin: 0 25px 10px 0;
    }
    .quote p {
        font-size: 1.3rem;
    }
    .methods {
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .method1, .method2, .method3, .method4, .method5 {
        margin: 0%;
    }
    .methods p {
        font-size: 1rem;
        padding: 7%;
    }
    .list-result{
    font-size: 0.9rem;
    }
    .result p {
        font-size: 1.6rem;
    }
    .requests , .price{
        padding-top: 12%;
    }
    .education-title {
        font-size: 1rem;
    }
    .education-item p{
        font-size: 0.9rem;
    }
    .education-content-left {
        margin-top: 7%;
        width: 50%;
    }
    .education-content-left-photo-backg {
        height: 90%;
        bottom: 3%;
    }
    .education-content-right {
        width: 50%;
        margin-top: -2%;
    }
    .title-text{
        font-size: 1.5rem;
    }
    .card-price{
        width: 35%;
    }
    .card-price-title {
        font-size: 1.3rem;
    }
    .price-descr-text{
        font-size: 1rem;
    }
    .time, .price-sum {
        font-size: 1.2rem;
    }
    .content p {
        font-size: 1rem;
    }
    .card-price-btn > .btn{
        font-size: 1rem;
    }
    .form label {
        font-size: 1.2rem;
    }
    .form input {
        font-size: 1.1rem;
    }
    .iti--separate-dial-code .iti__selected-dial-code {
        font-size: 1rem;
    }
    .contact-name {
        font-size: 1rem;
    }
    .contact-name a {
        font-size: 1.6rem;
    }
    .contacts__number a, .contacts__email a {
        font-size: 1rem;
    }      
}

@media (min-width: 577px)  and (max-width: 768px) {
    .container {
        width: 86%;
    }
    .header-menu {
        padding: 0 6%;
    }
    .menu{
        display: none;
      }
      .container-burger{
          display: block;
        }
        .menu-burger-item a {
            font-size: 1.5rem;
        }
        .header__menu{
            display: contents;
        }
        .header__logo {
            width: 37%;
        }
        .logo p{
            font-size: 1.6rem;
        }
        .content-left__text p {
            font-size: 1.3rem;
        }
        .main{
            margin-top: 10%;
            flex-direction: column-reverse;
        }
        .header-name {
            font-size: 2.1rem;
            letter-spacing: 1.5px;
        }
        .content-left{
            width: 80%;
            margin: 0 auto;
        }
        .content-right {
            width: 56%;
            margin: 0 auto;
            margin-top: 15%;
            margin-right: 18%;
            margin-bottom: 10%;
        }
        .content-right__photo {
            width: 100%;
        }
        .btn {
            font-size: 1.2rem;
        }
        .section-title {
            font-size: 1.6rem;
            margin-bottom: 6%;
            line-height: 140%;
        }
        .about {
            flex-direction: column;
            padding-top: 22%;
        }
        .education {
            padding-top: 17%;
        }
        .about-content-rigt {
margin: 0 auto;
            width: 90%;
           margin-top: -7%;
        }
        .about-content-rigt P {
            font-size: 1.1rem;
        }
        .about-content-left-photo {
            width: 90%;
        }
        .about-content-left {
            width: 86%;
            margin: 0 auto;
            margin-left: 16%;
            margin-bottom: 10%;
    }
    .marker {
        font-size: 3.4rem;
    }
    .list-left-content, .list-right-content {
        font-size: 0.9rem;
        line-height: 130%;
    }
    .list-right-content {
        width: 100%;
    }
    .list-right-content > .list__cases {
        width: 100%;
    }
    .list-photo {
        margin-top: 5%;
    }
    .list-photo img {
        width: 100%;
    }
    .list-photo-1,
    .list-photo-line {
        width: 70%;
    }
    .list-confines {
        font-size: 0.9rem;
    }
    .list__confines-item {
        width: 100%;
        margin: 0 25px 10px 0;
    }
    .quote p {
        font-size: 1.1rem;
    }
    .methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .method1, .method2, .method3, .method4, .method5 {
       width: 45%;
    }
    .method5{
        width: 70%;
    }
    .methods p {
        font-size: 0.9rem;
        padding: 5%;
    }
    .result-content{
        flex-direction: column;
    }
    .list-result{
        width: 100%;
    font-size: 0.9rem;
    }
    .list__results{
        padding-top: 8px;
        margin: 0 25px 10px 0;
    }
    .result-content-img{
        width: 80%;
        margin: 0 auto;
    }
    .result p {
        font-size: 1.6rem;
    }
    .requests , .price{
        padding-top: 12%;
    }
    .education-title {
        font-size: 1rem;
    }
    .education-item p{
        font-size: 0.9rem;
    }
    .education-content{
        flex-direction: column;
    }
    .education-content-left {
        margin: 5% auto;
        width: 80%;
        margin-left: 18%;
    }
    .education-content-left-photo-backg {
        height: 100%;
        bottom: 5%;
    }
    .education-content-right {
        width: 100%;
        margin: 0  auto;
    }
    .title-text{
        font-size: 1.5rem;
    }
    .cards{
        flex-direction: column;
    }
    .card-price{
        width: 66%;
        margin: 3% auto;
    }
    .card-price-title {
        font-size: 1.4rem;
    }
    .price-descr-text{
        font-size: 1.15rem;
    }
    .time, .price-sum {
        font-size: 1.3rem;
    }
    .content p {
        font-size: 1rem;
    }
    .card-price-btn > .btn{
        font-size: 1.2rem;
    }
    .form label {
        font-size: 1.2rem;
    }
    .form input {
        font-size: 1.1rem;
    }
    .iti--separate-dial-code .iti__selected-dial-code {
        font-size: 1rem;
    }
    .contact-name {
        font-size: 1rem;
    }
    .contact-name a {
        font-size: 1.5rem;
    }
    .contacts__number a, .contacts__email a {
        font-size: 0.9rem;
    }  
  
}


@media (min-width: 361px)  and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .header-menu {
        padding: 0 5%;
    }
    .menu{
        display: none;
      }
      .menu-burger{
        margin-top: -10%;
      }
      .container-burger{
          display: block;
        }
        .menu-burger-item a {
            font-size: 1.3rem;
        }
        .header__menu{
            display: contents;
        }
        .header__logo {
            width: 55%;
        }
        .logo p{
            font-size: 1.4rem;
        }
        .contacts__icon-main {
            justify-content: center;
        }
        .contact-social-main {
            margin-top: 25%;
        }
        .content-left__text p {
            font-size: 1.3rem;
            margin-bottom: 8%;
        }
        .main{
            margin-top: 15%;
            flex-direction: column-reverse;
        }
        .header-name {
            font-size: 2.1rem;
            letter-spacing: 1.5px;
        }
        .content-left{
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }
        .content-right {
            width: 80%;
            margin: 0 auto;
            margin-top: 15%;
            margin-right: 5%;
            margin-bottom: 10%;
        }
        .content-right__photo {
            width: 100%;
        }
        .btn {
            font-size: 1.2rem;
            margin:  0 auto;
        }
        .section-title {
            font-size: 1.5rem;
            margin-bottom: 6%;
            line-height: 140%;
        }
        .about {
            flex-direction: column;
            padding-top: 35%;
        }
        .education {
            padding-top: 17%;
        }
        .about-content-rigt {
margin: 0 auto;
            width: 90%;
           margin-top: -7%;
        }
        .about-content-rigt P {
            font-size: 1rem;
        }
        .about-content-left-photo {
            width: 90%;
        }
        .about-content-left {
            width: 86%;
            margin: 0 auto;
            margin-left: 16%;
            margin-bottom: 10%;
    }
    .marker {
        font-size: 3.4rem;
    }
    .list-left{
        flex-direction: column;
    }
    .list-right{
        flex-direction: column-reverse;
        margin-bottom: 50%;
    }
    .list-left-content, .list-right-content {
        width: 100%;
        font-size: 0.9rem;
        line-height: 130%;
    }
    .list-right-content {
        width: 100%;
    }
    .list-right-content > .list__cases {
        width: 100%;
    }
    .list-photo {
        width: 80%;
        margin: 5% auto;
    }
    .list-photo-right {
        margin-top: 40%;
        position: relative;
        width: 100%;
        display: flex;
    }
    .list-photo img {
        width: 100%;
    }
    .list-photo-1,
    .list-photo-line {
        width: 40%;
    }
    .confines {
        width: 80%;
    }
    .list-confines {
        font-size: 0.9rem;
    }
    .list__confines-item {
        width: 90%;
        margin: 0 0px 20px 0px;
    }
    .quote p {
        margin: 50px auto;
        font-size: 1.1rem;
    }
    .methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .method1, .method2, .method3, .method4, .method5 {
       width: 100%;
    }

    .methods p {
        font-size: 1rem;
        padding: 3%;
    }
    .result-content{
        flex-direction: column;
    }
    .list-result{
        width: 100%;
    font-size: 0.9rem;
    }
    .list__results{
        padding-top: 8px;
        margin: 0 25px 10px 0;
    }
    .result-content-img{
        width: 80%;
        margin: 0 auto;
    }
    .result p {
        font-size: 1.5rem;
    }
    .requests , .price{
        padding-top: 20%;
    }
    .education-title {
        font-size: 1.1rem;
    }
    .education-item p{
        font-size: 1rem;
    }
    .education-content{
        flex-direction: column;
    }
    .education-content-left {
        margin: 5% auto;
        width: 80%;
        margin-left: 18%;
    }
    .education-content-left-photo-backg {
        height: 100%;
        bottom: 5%;
    }
    .education-content-right {
        width: 100%;
        margin: 0  auto;
    }
    .title-text{
        font-size: 1.5rem;
        padding: 2%;
    }
    .cards{
        flex-direction: column;
    }
    .card-price{
        width: 80%;
        margin: 3% auto;
    }
    .card-price-title {
        font-size: 1.4rem;
    }
    .price-descr-text{
        font-size: 1.1rem;
    }
    .time, .price-sum {
        font-size: 1.2rem;
    }
    .content p {
        font-size: 1rem;
    }
    .card-price-btn > .btn{
        font-size: 1rem;
    }
    .form {
        max-width: 340px;
    }
    .form label {
        font-size: 1.2rem;
    }
    .form input {
        max-width: 340px;
        font-size: 1.1rem;
    }
  .contacts{
    flex-direction: column;
    text-align: center;
  }
  .contact-social-main {
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
}
.contacts__icon-main {
    justify-content: center;
}
.contacts > .contact-social{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.contacts > .contacts__icon {
    justify-content: center;
}
    .contact-name {
        font-size: 1rem;
        padding-top: 5%;
        margin-bottom: 10%;
    }
    .contact-name a {
        font-size: 1.5rem;
    }
    .contacts__number a, .contacts__email a {
        font-size: 0.9rem;
        justify-content: center;
    }   
}
@media (min-width: 410px) and (max-width: 450px){
    .main {
        margin-top: 15%;
    }
    .content-right {
        width: 70%;
        margin-right: 10%;
    }
    }
    @media (min-width: 451px) and (max-width: 485px){
        .main {
            margin-top: 15%;
        }
        .content-right {
            width: 70%;
            margin-right: 10%;
        }
        }
        @media (min-width: 486px) and (max-width: 510px){
            .main {
                margin-top: 17%;
            }
            .content-right {
                width: 70%;
                margin-right: 10%;
            }

            }
    @media (min-width: 511px) and (max-width: 580px){
     .main {
            margin-top: 15%;
                }
     .content-right {
              width: 70%;
              margin-right: 10%;
      }
      .header-name {
        margin-bottom: 8%;
      }
      .content-left__text p {
        margin-bottom: 6%;
      }
      .contact-social-main {
        margin-top: 10%;
    }
    
                }
/* @media (min-width: 435px) and (max-width: 500px){
    .main {
        margin-top: 23%;
    }
    .content-right {
        width: 70%;
        margin-right: 10%;
    }
    }
@media (min-width: 501px) and (max-width: 576px){
    .main {
        margin-top: 20%;
    }
    .content-right {
        width: 65%;
        margin-right: 10%;
    }
    .content-left__text p {
        font-size: 1.3rem;
        margin-bottom: 3%;
    }
    .contact-social-main {
        margin-top: 15%;
    }
    } */

@media (min-width: 0)  and (max-width: 360px) {
    .container {
        width: 90%;
    }
    .header-menu {
        padding: 0 5%;
    }
    .menu{
        display: none;
      }
      .menu-burger{
        margin-top: -10%;
      }
      .container-burger{
          display: block;
        }
        .menu-burger-item a {
            font-size: 1.3rem;
        }
        .header__menu{
            display: contents;
        }
        .header__logo {
            width: 55%;
        }
        .logo p{
            font-size: 1.4rem;
        }
        .contact-social-main {
            margin-top: 20%;
        }
        .content-left__text p {
            font-size: 1.3rem;
            margin-bottom: 8%;
        }
        .main{
            margin-top: 20%;
            flex-direction: column-reverse;
        }
        .header-name {
            font-size: 2.1rem;
            letter-spacing: 1.5px;
        }
        .content-left{
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }
        .content-right {
            width: 80%;
            margin: 0 auto;
            margin-top: 15%;
            margin-right: 5%;
            margin-bottom: 10%;
        }
        .content-right__photo {
            width: 100%;
        }
        .btn {
            font-size: 1.2rem;
            margin:  0 auto;
        }
        .section-title {
            font-size: 1.5rem;
            margin-bottom: 6%;
            line-height: 140%;
        }
        .about {
            flex-direction: column;
            padding-top: 35%;
        }
        .education {
            padding-top: 17%;
        }
        .about-content-rigt {
margin: 0 auto;
            width: 90%;
           margin-top: -7%;
        }
        .about-content-rigt P {
            font-size: 1rem;
        }
        .about-content-left-photo {
            width: 90%;
        }
        .about-content-left {
            width: 86%;
            margin: 0 auto;
            margin-left: 16%;
            margin-bottom: 10%;
    }
    .marker {
        font-size: 3.4rem;
    }
    .list-left{
        flex-direction: column;
    }
    .list-right{
        flex-direction: column-reverse;
        margin-bottom: 50%;
    }
    .list-left-content, .list-right-content {
        width: 100%;
        font-size: 0.9rem;
        line-height: 130%;
    }
    .list-right-content {
        width: 100%;
    }
    .list-right-content > .list__cases {
        width: 100%;
    }
    .list-photo {
        width: 80%;
        margin: 5% auto;
    }
    .list-photo-right {
        margin-top: 40%;
        position: relative;
        width: 100%;
        display: flex;
    }
    .list-photo img {
        width: 100%;
    }
    .list-photo-1,
    .list-photo-line {
        width: 40%;
    }
    .confines {
        width: 80%;
    }
    .list-confines {
        font-size: 0.9rem;
    }
    .list__confines-item {
        width: 90%;
        margin: 0 0px 20px 0px;
    }
    .quote p {
        margin: 50px auto;
        font-size: 1.1rem;
    }
    .methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .method1, .method2, .method3, .method4, .method5 {
       width: 100%;
    }

    .methods p {
        font-size: 1rem;
        padding: 3%;
    }
    .result-content{
        flex-direction: column;
    }
    .list-result{
        width: 100%;
    font-size: 0.9rem;
    }
    .list__results{
        padding-top: 8px;
        margin: 0 25px 10px 0;
    }
    .result-content-img{
        width: 80%;
        margin: 0 auto;
    }
    .result p {
        font-size: 1.5rem;
    }
    .requests , .price{
        padding-top: 20%;
    }
    .education-title {
        font-size: 1.1rem;
    }
    .education-item p{
        font-size: 1rem;
    }
    .education-content{
        flex-direction: column;
    }
    .education-content-left {
        margin: 5% auto;
        width: 80%;
        margin-left: 18%;
    }
    .education-content-left-photo-backg {
        height: 100%;
        bottom: 5%;
    }
    .education-content-right {
        width: 100%;
        margin: 0  auto;
    }
    .title-text{
        font-size: 1.5rem;
        padding: 2%;
    }
    .cards{
        flex-direction: column;
    }
    .card-price{
        width: 80%;
        margin: 3% auto;
    }
    .card-price-title {
        font-size: 1.4rem;
    }
    .price-descr-text{
        font-size: 1.1rem;
    }
    .time, .price-sum {
        font-size: 1.2rem;
    }
    .content p {
        font-size: 1rem;
    }
    .card-price-btn > .btn{
        font-size: 1rem;
    }
    .form {
        max-width: 320px;
    }
    .form label {
        font-size: 1.2rem;
    }
    .form input {
        max-width: 320px;
        font-size: 1.1rem;
    }
  .contacts{
    flex-direction: column;
    text-align: center;
  }
  .contacts__icon{
    justify-content: center;
}
.contacts > .contact-social{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.contacts > .contact-social{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.contacts > .contacts__icon {
    justify-content: center;
}
    .contact-name {
        font-size: 1rem;
        padding-top: 5%;
        margin-bottom: 10%;
    }
    .contact-name a {
        font-size: 1.5rem;
    }
    .contacts__number a, .contacts__email a {
        font-size: 0.9rem;
        justify-content: center;
    }  
    /* .menu{
        display: none;
      }
      .container-burger{
          display: block;
        }
        .menu-burger-item a {
            font-size: 1.3rem;
        }
        .header__menu{
            display: contents;
        }
        .header__logo {
            width: 50%;
        }
        .logo p{
            line-height: 1.3;
            font-size: 1.3rem;
            letter-spacing: -1px;
            font-weight: 600; 
        }
        .surname {
            padding-left: 30px;
        }
        .main{
            text-align: center;
            flex-direction: column;
            flex-direction: column-reverse;
        }
       
    .content-right,
    .content-left {
        margin: 0% auto;
        width: 100%;
    }
    
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .content-left__text p{
        font-size: 1.2rem;
    }
    .header-name {
        font-size: 2.3rem;
    }
    .btn {
        margin: 0 auto;
        font-size: 1.3rem;
        padding: 15px 17px;
    }
    .contacts__icon-main{
        margin: 0 auto;
    } */
}






